<div class="">


<% if notice %>
    <p class="alert alert-dismissible alert-success"> <%= notice %> </p>
<% end %>

<% if alert %>
    <p class="alert  alert-dismissible alert-danger> <%= alert %> </p>
<% end %>