<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if can? :read, Worker %>
	<p>Welcome Employee</p>
<% end %>

<% if can? :manage, :all %>
	<p>Welcome Superadmin</p>
	

	#salaries_chart{data: {employees: @employees.to_json(methods: [:display_pay, :employee_path_for_js]), data_table: @data_table.to_json, chart_params: {width: 800, height: 500, legend: "right", vAxis: {minValue: 0, gridlines: {count: 10}}}.to_json}}

<% end %>

<% if can? :manage, User %>
	<p>VWelcome Mr Supervisor</p>
<% end %>

<% if current_user.superadmin_role? || current_user.supervisor_role? %>
	<p>Visible only for superadmins and supervisors! direct usage</p>
<% end %>