<div class="jumbotron">
  <h1>HR Soft Dashboard</h1>
  <p>View your Reports on the fly right here. Click the button below to Learn More.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>